rounds .round {
    float: left;
    text-align: center;
    line-height: 15px;
    background-color: black;
    border-right: 1px solid #808080;
}

.icon rect {
    fill: white;
}

.round-headder {
    fill: black;
}
