<div class="card" style="width:18rem;">
    @if (this.Headder != null)
    {
        <div class="card-header">
            @this.Headder
        </div>
    }

    @if (this.Body != null)
    {
        <div class="card-body">
            @this.Body
        </div>
    }

    @if (this.Footer != null)
    {
        <div class="card-footer">
            @this.Footer
        </div>
    } 
</div>
