<div class="card @this.ClassStyle" style="width:18rem;">
    @if (this.Header != null)
    {
        <div class="card-header">
            @this.Header
        </div>
    }

    @if (this.Body != null)
    {
        <div class="card-body">
            @this.Body
        </div>
    }

    @if (this.Footer != null)
    {
        <div class="card-footer">
            @this.Footer
        </div>
    } 
</div>
