@page "/groups"

<div class="text-center">
    <h1 class="mb-4">Pools</h1>

    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var group in groups)
        {
            <Card ClassStyle="m-2">
                <Body>
                    <h2>@group.Name</h2>

                    @foreach(var team in group.GroupTeams)
                    {
                        <h3>@team.TeamName</h3>
                    }
                </Body>
            </Card>
        } 
    </div>
</div>