@page "/"
@page "/home" 

<div class="text-center">
    <h1>Welcome To Minimiez</h1>

    <!-- TODO: MORE INFO ON MINIMIEZ AND WHAT THE TABS DO -->
    <h3>Why not check out these?</h3>
    <div class="d-flex flex-wrap justify-content-center flex-wrap">
        <Card ClassStyle="m-3 clickableCard" ExtraStyles="width:18rem;cursor:pointer;" ClickUrl="teams">
            <Body>
                <h5 class="card-title text-center">Teams</h5>
                <div class="px-3">
                    <span class="oi oi-people"></span>
                </div>
                <p>See the teams playing in the tournament</p>
                <p></p>
            </Body>
        </Card>

        <Card ClassStyle="m-3 clickableCard" ExtraStyles="width:18rem;cursor:pointer;" ClickUrl="groups">
            <Body>
                <h5 class="card-title text-center">Pools</h5>
                <div class="px-3">
                    <span class="oi oi-spreadsheet"></span>
                </div>
                <p>Check who is top of each group</p>
                <p></p>
            </Body>
        </Card>

        <Card ClassStyle="m-3 clickableCard" ExtraStyles="width:18rem;cursor:pointer;" ClickUrl="bracket">
            <Body>
                <h5 class="card-title text-center">Bracket</h5>
                <div class="px-3">
                    <span class="oi oi-fork"></span>
                </div>
                <p>View the bracket placement and ongoing matches</p>
                <p></p>
            </Body>
        </Card>
    </div>
</div>